PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb+srv://<kullanici_adi>:<sifre>@cluster0.xxxxx.mongodb.net/<veritabani_adi>?appName=<app_adi>

JWT_ACCESS_SECRET=buraya_en_az_64_karakterlik_rastgele_string_yaz
JWT_REFRESH_SECRET=buraya_en_az_64_karakterlik_farkli_bir_rastgele_string_yaz

JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

CLIENT_URL=http://localhost:3001
